.header{
    height: 75px;
    /* background-color: #343a40!important; */
    background-color: #f7f6f4;
    color: #000;
    display: table;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: solid 1px #ccc;
    box-shadow: 0 0px 5px rgb(0,0,0.4);
    z-index: 2;
}

.header .title{
    font-size: 1.6em;
    display: table-cell;
    vertical-align: middle;
}